{{# Form has been submitted successfully: Don't load unnecessary JS, Refresh the Main form & Close the pop up}}
{{s3.scripts=[]}}{{s3.js_global=[]}}{{s3.jquery_ready=['''s3_popup_refresh_caller(%s)''' % (s3.popup_data if isinstance(s3.get("popup_data"), basestring) else "")]}}
<div id='popup' class='cf'><h2 style='padding:2rem;text-align:center;'>{{=T("Submission successful - please wait")}}...</h2></div>
